<div class="animated fadeIn">
  <p-growl [(value)]="msgs" sticky=true></p-growl>
  <div class="row d-flex justify-content-center ngTab">
    <ngb-tabset>
      <ngb-tab title="Dados">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group">
              <label for="inputName">Nome</label>
              <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="device.name"
                placeholder="Nome">
            </div>
            <div class="form-group">
              <label for="textareaDescription">Descrição</label>
              <textarea class="form-control" name="inputDescription" id="textareaDescription"
                placeholder="Realize a descrição neste campo." [(ngModel)]="device.description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <p>Ativo</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" (input)="device.state = !device.state" class="switch-input"
                  [checked]="device.state">
                <span class="switch-slider"></span>
              </label>
            </div>
            <div class="form-group">
              <p>Perfil Padrão</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" (input)="device.profile = !device.profile" class="switch-input"
                  [checked]="device.profile">
                <span class="switch-slider"></span>
              </label>
            </div>
          </form>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="save()" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Periféricos">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group" *ngFor="let periferico of perifericos">
              <p>{{ periferico.name }}</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" class="switch-input" (input)="periferico.value = !periferico.value"
                  [checked]="periferico.value">
                <span class="switch-slider"></span>
              </label>
            </div>
          </form>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="save()" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Ações">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group" *ngFor="let acao of acoes">
              <p>{{ acao.name }}</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" class="switch-input" (input)="periferico.value = !periferico.value"
                  [checked]="acao.value">
                <span class="switch-slider"></span>
              </label>
            </div>
          </form>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="save()" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Aplicativos">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-4">
              <form>
                <div class="form-group">
                  <h3 class="h6">Categoria</h3>
                  <p-dropdown [options]="categorias" [(ngModel)]="selectedCategory" [style]="{'font-size':'20px'}"
                    placeholder="Selecione a Categoria" name="selectedCategory" optionLabel="name">
                  </p-dropdown>
                </div>
                <div class="form-group" *ngIf="selectedCategory">
                  <h3 class="h6">Desenvolvedor</h3>
                  <p-dropdown [options]="empresas" [(ngModel)]="selectedCompany" [style]="{'font-size':'20px'}"
                    placeholder="Selecione a Desenvolvedora" name="selectedCompany" optionLabel="name">
                  </p-dropdown>
                </div>
              </form>
              <div class="row my-5" *ngIf="selectedCompany">
                <ul style="list-style-type: none">
                  <li *ngFor="let app of availableApps" pDraggable="apps" (onDragStart)="dragStart($event, app)"
                    (onDragEnd)="dragEnd($event)">
                    <i class="cui-screen-smartphone fa-2x"></i>
                    {{ app.identifier }} - {{ app.category }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 offset-2" pDroppable="apps" (onDrop)="drop($event)">
              <ul  class="list-group list-group-horizontal flex-wrap" style="list-style-type: none">
                <li class="list-group-item" *ngFor="let app of selectedApps">
                  <span><i class="{{ app.logo }} fa-2x"></i> {{ app.label }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="save()" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>