<div class="animated fadeIn">
  <div class="row d-flex justify-content-center ngTab">
    <ngb-tabset>
      <ngb-tab title="Dados">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group">
              <label for="inputName">Nome</label>
              <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="device.name"
                placeholder="Nome">
            </div>
            <div class="form-group">
              <label for="textareaDescription">Descrição</label>
              <textarea class="form-control" name="inputDescription" id="textareaDescription"
                placeholder="Realize a descrição neste campo." [(ngModel)]="device.description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <p>Ativo</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" (input)="device.state = !device.state" class="switch-input"
                  [checked]="device.state">
                <span class="switch-slider"></span>
              </label>
            </div>
            <div class="form-group">
              <p>Perfil Padrão</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" (input)="device.profile = !device.profile" class="switch-input"
                  [checked]="device.profile">
                <span class="switch-slider"></span>
              </label>
            </div>
          </form>
          <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Periféricos">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group" *ngFor="let periferico of perifericos">
              <p>{{ periferico.name }}</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" class="switch-input" (input)="periferico.value = !periferico.value"
                  [checked]="periferico.value">
                <span class="switch-slider"></span>
              </label>
            </div>
          </form>
          <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Ações">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group" *ngFor="let acao of acoes">
              <p>{{ acao.name }}</p>
              <label class="switch switch-3d switch-secondary">
                <input type="checkbox" class="switch-input" (input)="periferico.value = !periferico.value"
                  [checked]="acao.value">
                <span class="switch-slider"></span>
              </label>
            </div>
          </form>
          <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Aplicativos">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-4">
              <form>
                <div class="form-group">
                  <label for="selectCategory">Categoria</label>
                  <select class="form-control" id="selectCategory" >
                    <option selected>Todos</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="selectFirm">Desenvolvedor</label>
                  <select class="form-control" id="selectFirm">
                    <option selected>Todos</option>
                    <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.name }}</option>
                  </select>
                </div>
              </form>
              <div class="row">
                <ul style="list-style-type: none">
                  <li *ngFor="let app of availableApps" pDraggable="apps" (onDragStart)="dragStart($event, app)"
                    (onDragEnd)="dragEnd($event)">
                    <i class="cui-screen-smartphone fa-2x"></i>
                    {{ app.identifier }} - {{ app.category }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 offset-2" pDroppable="apps" (onDrop)="drop($event)">
                <p-table [value]="selectedApps" class="mt-5">
                  <ng-template pTemplate="header">
                    <tr>
                      <th colspan="3" class="text-center">Aplicativos</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-app>
                    <tr>
                      <td><i class="{{ app.logo }} fa-2x"></i> - {{ app.label }}</td>
                      <td>{{ app.category }}</td>
                      <td>Version - {{ app.version }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
          </div>
          <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-primary">Salvar</button>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>