<div class="animated fadeIn">
  <div class="row justify-content-center">
    <table class="table table-responsive-sm table-hover table-outline w-50 mb-0">
      <thead class="thead-light">
        <tr>
          <th colspan="2">Informações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Nível de Acesso</th>
          <td>{{accessLevel}}</td>
        </tr>
        <tr>
          <th>Usuário</th>
          <td>{{user}}</td>
        </tr>
        <tr>
          <th>Login</th>
          <td>{{login}}</td>
        </tr>
        <tr>
          <th>Último Acesso</th>
          <td>{{lastAccess}}</td>
        </tr>
        <tr>
          <th>Versão</th>
          <td>{{version}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
