// Here you can add other styles
.switch-secondary .switch-input:checked + .switch-slider {
   background-color: #ff6a00;
}

.switch-3d .switch-slider {
   background-color: $grey-light;
}

.ngTab {
   ngb-tabset {
      width: 100%;
   }

   .form-control {
      border: 1px solid #888;
      resize: none;
   }   
}

@media (min-width: 991.98px) { 
   .ngTab {
      ngb-tabset {
         width: 80%;
      }
   }
}

:host ::ng-deep button {
   margin-right: .25em;
}

:host ::ng-deep .error-toast .ui-toast-message {
   color: $white;
   background: $brand-red-error;
   background: -webkit-linear-gradient(to right, $brand-blue-light, $brand-red-error);
   background: linear-gradient(to right, $brand-blue-light, $brand-red-error);
}

:host ::ng-deep .error-toast .ui-toast-close-icon {
   color: $white;
}