// Variable overrides
$grey-base:                     hsl(0, 0%, 0%);
$grey-darker:                   lighten($grey-base, 10%);
$grey-dark:                     lighten($grey-base, 30%);
$grey-std:                      lighten($grey-base, 50%);
$grey-dev:                      #a8a8a8;
$grey-light:                    lighten($grey-base, 70%);
$grey-lighter:                  #f3f3f3;
$grey-xlighter:                 #f9f9f9 !default;
$white:                         #ffffff                 !default;
$brand-red-error:               #FC466B                 !default;
$brand-red:                     #d42121                 !default;
$brand-red-lighter:             #ff7d60                 !default;
$brand-orange:                  #ff6a00                 !default;
$brand-orange-alpha:            rgba(255, 127, 99, 0.2) !default;
$brand-blue:                    #67A4FF                 !default;
$brand-blue-lighter:            rgb(103, 164, 255)      !default;
$brand-blue-strong:             #4B78BA;
$brand-blue-light:              #3F5EFB;
$brand-white:                   rgb(255, 255, 255)      !default;
$brand-success:                 rgb(157, 203, 125)      !default;
$brand-green-alpha:             rgba(157, 203, 125, 0.2)!default;
$brand-green-strong:            #9DCB7D;
$brand-green-whatsapp:          #25d366;
$brand-yel:                     rgba(253, 183, 19, 0.3) !default;
$brand-yellow:                  #FDB713                 !default;
$brand-greeny:                  #e2f0d8                 !default;
$brand-orange-light:            #ffe2b1                 !default;
$brand-smooth-og:               #FF5A2B                 !default;
$brand-smoother-og:             #FF6F4A                 !default;
$brand-bright-cyan:             #02AE99                 !default;